---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../styles/base.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="xl:w-1/2 flex flex-col bg-stone-100">
    <section class="flex flex-col lg:flex-row">
      <Header title={SITE_TITLE} />
      <main class="bg-white grow flex flex-col px-8 lg:p-8 min-h-screen lg:ml-[56px]">
        <div class="lg:col-span-4 lg:text-base bg-white pb-4 italic text-neutral-500">
          <div>Welcome to my blog. This is where I share interesting stories, challenges and breakthroughs from my journey in the realm of software development.</div>
        </div>

        <section class="grow block">
          <h1 class="font-semibold">Posts I've written:</h1>
          <ul>
          {
            posts.map((post) => (
              <li class="mb-4">
                <a class="hover:underline" href={`/${post.slug}`}>{post.data.title}</a>
              </li>
            ))
          }
          </ul>
        </section>
        <Footer />
      </main>
    </section>
	</body>
</html>
