---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="xl:w-1/2 flex flex-col bg-stone-100">
    <Header title={title} />
    <section class="bg-white px-8 lg:p-8 min-h-screen flex flex-col lg:ml-[52px]">
      <div class="lg:col-span-4 lg:text-base bg-white pb-4 italic text-neutral-500">
        <div>Welcome to my blog. This is where I share interesting stories, challenges and breakthroughs from my journey in the realm of software development.</div>
      </div>
      <header class="flex flex-col space-y-4">
        <h1 class="text-xl font-bold">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </header>
      <article class="grow">
        <slot />
      </article>
      <Footer />
    </section>
	</body>
</html>

